<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.monitor.mapper.NotificationMapper">

    <resultMap id="BaseResultMap" type="com.study.monitor.modal.entity.NotificationEntity">
        <id column="id" property="id" />
        <result column="alert_id" property="alertId" />
        <result column="channel_id" property="channelId" />
        <result column="content" property="content" javaType="java.util.Map" jdbcType="OTHER" typeHandler="com.study.monitor.handler.JsonTypeHandler"/>
        <result column="notification_time" property="notificationTime" />
        <result column="response_code" property="responseCode" />
        <result column="response_message" property="responseMessage" />
        <result column="create_date" property="createDate" />
        <result column="update_date" property="updateDate" />
        <association property="channel" javaType="com.study.monitor.modal.entity.ChannelEntity" >
            <id column="c_id" property="id" />
            <result column="c_name" property="name" />
            <result column="c_type" property="type" />
            <result column="c_enabled" property="enabled" />
        </association >
    </resultMap>

    <sql id="notificationFields">
        n.id, n.alert_id, n.channel_id, n.content, n.notification_time, n.response_code, n.response_message, n.create_date, n.update_date
    </sql>

    <select id="selectMyPage" resultMap="BaseResultMap" parameterType="com.study.monitor.modal.request.NotificationQO">
        select
        <include refid="notificationFields" />,
        c.id as c_id, c.name as c_name, c.type as c_type, c.enabled as c_enabled
        FROM notification n
        LEFT JOIN channel c ON n.channel_id = c.id
        <where>
            <if test="notificationQO.alertId != null" >
                and n.alert_id = #{notificationQO.alertId}
            </if>
            <if test="notificationQO.channelType != null and notificationQO.channelType != ''" >
                and c.type = #{notificationQO.channelType}
            </if>
        </where>
        ORDER BY n.notification_time desc
    </select>

    <select id="selectNotificationChannelTypes" resultType="String" parameterType="Integer">
        select
        distinct c.type
        FROM notification n
        LEFT JOIN channel c ON n.channel_id = c.id
        <where>
            <choose>
                <when test="alertId != null">
                    and n.alert_id = #{alertId}
                </when>
                <otherwise>
                    and 1 = 0
                </otherwise>
            </choose>
        </where>
        ORDER BY c.type
    </select>


<!--    <insert id="insert" parameterType="com.study.monitor.modal.entity.NotificationEntity">-->
<!--        INSERT INTO notification (alert_id, channel_contents, notification_time, response_code, response_message, create_date, update_date)-->
<!--        VALUES (#{alertId}, #{channelContents}, #{notificationTime}, #{responseCode}, #{responseMessage}, #{createDate}, #{updateDate})-->
<!--    </insert>-->

<!--    <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">-->
<!--        SELECT * FROM notification WHERE id = #{id}-->
<!--    </select>-->

<!--    <update id="update" parameterType="com.study.monitor.modal.entity.NotificationEntity">-->
<!--        UPDATE notification-->
<!--        SET alert_id = #{alertId},-->
<!--        channel_contents = #{channelContents},-->
<!--        notification_time = #{notificationTime},-->
<!--        response_code = #{responseCode},-->
<!--        response_message = #{responseMessage},-->
<!--        create_date = #{createDate},-->
<!--        update_date = #{updateDate}-->
<!--        WHERE id = #{id}-->
<!--    </update>-->

<!--    <delete id="deleteById" parameterType="java.lang.Long">-->
<!--        DELETE FROM notification WHERE id = #{id}-->
<!--    </delete>-->

</mapper>