<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.monitor.mapper.ServerMapper">

    <resultMap id="BaseResultMap" type="com.study.monitor.entity.ServerEntity">
        <id column="id" property="id" />
        <result column="server_name" property="serverName" />
        <result column="hostname" property="hostname" />
        <result column="description" property="description" />
        <result column="created_by" property="createdBy" />
        <result column="updated_by" property="updatedBy" />
        <result column="create_date" property="createDate" />
        <result column="update_date" property="updateDate" />
        <collection property="monitoringRuleList" ofType="com.study.monitor.entity.MonitoringRuleEntity">
            <id column="m_id" property="id" />
            <result column="m_name" property="name" />
            <result column="m_type" property="type" />
            <result column="m_description" property="description" />
            <result column="m_enabled" property="enabled" />
            <result column="m_threshold" property="threshold" />
            <result column="m_interval" property="interval" />
            <result column="m_notification_recipients" property="notificationRecipients" typeHandler="com.study.monitor.handler.PgArrayStringTypeHandler" jdbcType="ARRAY"/>
            <result column="m_process_name_regex" property="processNameRegex" />
            <result column="m_log_file_path" property="logFilePath" />
            <result column="m_log_patterns" property="logPatterns" typeHandler="com.study.monitor.handler.PgArrayStringTypeHandler" jdbcType="ARRAY"/>
            <result column="m_created_by" property="createdBy" />
            <result column="m_updated_by" property="updatedBy" />
            <result column="m_create_date" property="createDate" />
            <result column="m_update_date" property="updateDate" />
        </collection>
    </resultMap>

    <insert id="insert" parameterType="com.study.monitor.entity.ServerEntity">
        INSERT INTO server (server_name, hostname, description, created_by, updated_by, create_date, update_date)
        VALUES (#{serverName}, #{hostname}, #{description}, #{createdBy}, #{updatedBy}, #{createDate}, #{updateDate})
    </insert>

    <select id="selectById" resultMap="BaseResultMap" parameterType="Integer">
        SELECT * FROM server WHERE id = #{id}
    </select>

    <update id="update" parameterType="com.study.monitor.entity.ServerEntity">
        UPDATE server
        SET server_name = #{serverName}, hostname = #{hostname}, description = #{description},
        created_by = #{createdBy}, updated_by = #{updatedBy}, create_date = #{createDate}, update_date = #{updateDate}
        WHERE id = #{id}
    </update>

    <delete id="deleteById" parameterType="Integer">
        DELETE FROM server WHERE id = #{id}
    </delete>
    <sql id="serverFields">
        s.id, s.server_name, s.hostname, s.description, s.created_by, s.updated_by, s.create_date, s.update_date
    </sql>

    <sql id="monitoringRuleFields">
        m.id AS "m_id", m.name AS "m_name", m.type AS "m_type", m.description AS "m_description", m.enabled AS "m_enabled", m.threshold AS "m_threshold",
        m.interval AS "m_interval", m.notification_recipients AS "m_notification_recipients", m.process_name_regex AS "m_process_name_regex",
        m.log_file_path AS "m_log_file_path", m.log_patterns AS "m_log_patterns",
        m.created_by AS "m_created_by", m.updated_by AS "m_updated_by", m.create_date AS "m_create_date", m.update_date AS "m_update_date"
    </sql>

    <select id="selectAllWithRules" resultMap="BaseResultMap">
        SELECT
        <include refid="serverFields" />,
        <include refid="monitoringRuleFields" />
        FROM server s
        LEFT JOIN server_monitoring_rule sm ON s.id = sm.server_id
        LEFT JOIN monitoring_rule m ON sm.monitoring_rule_id = m.id
    </select>

</mapper>