server:
  port: 8090
management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      enabled: true
    info:
      enabled: true
info:
  app:
    name: monitor-center
    version: 1.0.0
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
spring:
  application:
    name: monitor-center
  datasource:
    url: jdbc:postgresql://localhost:5432/monitor_center
    username: postgres
    password: 123456
    driver-class-name: org.postgresql.Driver
  mybatis-plus:
    mapper-locations: classpath*:mapper/**/*.xml
    configuration:
      map-underscore-to-camel-case: true
      cache-enabled: false
      log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
logging:
  level:
    ROOT: INFO